$primary: #111828;
$color-font: rgb(235, 224, 224);
$color-link: rgb(177, 207, 240);
$color-second-link: rgb(138, 155, 174);
$color-font-disabled: rgba(235, 224, 224, 0.3);
$second-color-font: #7093d5;
$third-color-font: #bdc0c7;
$shadow-card: rgba(0,0,0,0.3);
$navbar-color: #28334c;
$black-border: #111828;
$card-color: #364466;
$divisor: #45557a;
$background-black: #1f1f1f;
