@import "../../config/scss/config.scss";

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .2rem 0;
  margin-top: .5rem;
  border-top: 1px solid $divisor;

  .tag {
    color: $color-font-disabled;
    font-size: 12px;

    span {
      font-weight: 600;
    }
  }

}
