@import "../../config/scss/config.scss";

.text {
  line-height: 1.3;
}

.textTitleHead {
  margin: 0 0 2rem;
}

.secondTitle {
  margin: 0 0 .8rem;
}

.pill {
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  white-space: nowrap;
  width: max-content;  

  p {
    color: $color-font;
    margin: 0;
  }
}
